
 
.index {
    font-family: 'Crimson Text', serif;
    background-image: url('flowerbackground.jpg');
    font-size: 100px;
    background-color: #f9f9f9;
    h1{
        color: rgb(236, 188, 28);
        font-size: 200px;
        font-family: 'Crimson Text', serif;
        padding: 20px;
    }
.azalea {
    font-family: 'Crimson Text', serif;
    background-image: url('azalea.jpg');
    font-size: 100px;
    background-color: #f9f9f9;
    h1{
        color: rgb(225, 225, 225);
        font-size: 200px;
        font-family: 'Crimson Text', serif;
        padding: 20px;
    }
}
main{
    font-family: 'Crimson Text', serif;
    color:#1a635d;
}

  
