
 
.index {
    font-family: 'Crimson Text', serif;
    background-image: url('flowerbackground.jpg');
    color: rgb(236, 188, 28);
    font-size: 100px;
    background-color: rgb(236, 188, 28);;
}

.azalea {
    font-family: 'Crimson Text', serif;
    background-image: url('azalea.jpg');
    font-size: 100px;
    background-color: #f9f9f9;
    color: white;
    text-decoration-color: white;
}
.headerA{
    color: white;
    background-image: url('azalea.jpg');
    font-family: 'Crimson Text', serif;
    font-size: 100px;
    text-decoration-color: white;
}

.narcissus {
    font-family: 'Crimson Text', serif;
    background-image: url('narcissus.jpg');
    font-size: 100px;
    color: #ff8800;
    text-decoration-color: #ff8800;
}
.headerN{
    color: darkgreen;
    background-image: url('narcissus.jpg');
    font-family: 'Crimson Text', serif;
    font-size: 100px;
    text-decoration-color: darkgreen;
}
.iris {
    font-family: 'Crimson Text', serif;
    background-image: url('iris.jpg');
    font-size: 100px;
    color: #035a25;
    text-decoration-color: #035a25;
}
.headerI{
    color: purple;
    background-image: url('iris.jpg');
    font-family: 'Crimson Text', serif;
    font-size: 100px;
    text-decoration-color: darkgreen;
}
.tulip {
    font-family: 'Crimson Text', serif;
    background-image: url('tulip.png');
    font-size: 100px;
    color: #000000;
    text-decoration-color: #000000;
}
.headerT{
    color: black;
    background-image: url('tulip.png');
    font-family: 'Crimson Text', serif;
    font-size: 100px;
    text-decoration-color: black;
}
.anemone {
    font-family: 'Crimson Text', serif;
    background-image: url('anemone.jpg');
    font-size: 100px;
    color: #64d86a;
    text-decoration-color: #64d86a;
}
.headerAA{
    color: #a74fa7;
    background-image: url('anemone.jpg');
    font-family: 'Crimson Text', serif;
    font-size: 100px;
    text-decoration-color: #a74fa7;
}

  
