h1{
    color: rgb(236, 188, 28);
    font-size: 200px;
    font-family: 'Crimson Text', serif;
    padding: 20px;
}
 
.index {
    font-family: 'Crimson Text', serif;
    background-image: url('flowerbackground.jpg');
    font-size: 100px;
    background-color: #f9f9f9;
   
    }
.azalea {
    font-family: 'Crimson Text', serif;
    background-image: url('azalea.jpg');
    font-size: 100px;
    background-color: #f9f9f9;
}
.narcissus {
    font-family: 'Crimson Text', serif;
    background-image: url('narcissus.jpg');
    font-size: 100px;
    background-color: #f9f9f9;
}
.iris {
    font-family: 'Crimson Text', serif;
    background-image: url('iris.jpg');
    font-size: 100px;
    background-color: #f9f9f9;
}
.tulip {
    font-family: 'Crimson Text', serif;
    background-image: url('tulip.png');
    font-size: 100px;
    background-color: #f9f9f9;
}
.anemone {
    font-family: 'Crimson Text', serif;
    background-image: url('anemone.jpg');
    font-size: 100px;
    background-color: #f9f9f9;
}

main{
    font-family: 'Crimson Text', serif;
    color:#bb3b85;
    font-size: 100 px;
}

  
