html {

    background-color: #f9f9f9;

    h1{
        color: #909090
        font-size: 60px;
    }
    body {
        font-family: 'Josefin Sans', sans-serif;<style>
        background-image: url('background.jpg');
    
    }
      
  }

  