.head {
    font-family: 'Crimson Text', serif;
    color: rgb(21, 21, 90);
    font-size: 50px;
    background-color: lightgreen;
}
.pics {
    font-family: 'Crimson Text', serif;
    color: rgb(21, 21, 90);
    font-size: 100px;
    background-color: lightgreen;
}

