html {
    background-color: rgb(255, 208, 215);
    margin: 20px;
    background-image: url("pics/sprinkles.jpg");
}
h2 {
    color:white;
    font-size: 30px;
    padding: 5px;
    background-color: purple;
    font-family: 'Coda Caption', sans-serif;
}
body {
    color: white;
    font-size: 20px;
    font-family: 'Coda Caption', sans-serif;
}   
.cakeFlavors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-content: space-around;
    line-height: 1.65;
    padding: 50px, 50px;
    justify-content: center;
    color: PURPLE;
    font-size: 20px;
    font-family: 'Coda Caption', sans-serif;

}
.first-column {
    flex: 1;
}

.second-column {
    flex: 1;
}
#vanilla {
    height: 50vh;
    width: 50vh;
    border-style: ridge;
    border-width: thick;
    border-color: purple;
}
#chocolate {
    height: 50vh;
    width: 50vh;
    border-style: ridge;
    border-width: thick;
    border-color: purple;
}
#redvelvet {
    height: 50vh;
    width: 50vh;
    border-style: ridge;
    border-width: thick;
    border-color: purple;
}
#carrot {
    height: 50vh;
    width: 50vh;
    border-style: ridge;
    border-width: thick;
    border-color: purple;
}