html {
    background-color: rgb(255, 208, 215);
    margin: 20px;
}
h1 {
    color: white;
    font-size: 50px;
    font-family: 'Major Mono Display', monospace;
    border-style: dotted;
    border-width: thick;
    border-color: hotpink;
    padding: 20px;
}
body {
    color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}   
button {
    background-color: rgb(255, 208, 215);
    color: hotpink;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;