html {
    background-color: rgb(255, 208, 215);
    margin: 20px;
    background-image: url("flavorPics/sprinklescopy.jpg");
}
h2 {
    color:white;
    font-size: 30px;
    padding: 5px;
    background-color: purple;
    font-family: 'Coda Caption', sans-serif;
}
body {
    color: white;
    font-size: 20px;
    font-family: 'Coda Caption', sans-serif;
}   
.title{
    padding: 20px;
}
.square {
    height: 750px;
    width: 370px;
    background-color: purple;
    flex-direction: column;
    float: left;
    padding:15px;
}
.ingredients{
    max-width: 1000px;
    height: 300px;
    background-color: hotpink;
    position: relative;
    margin-bottom: -750px;
    margin-left: 430px;
}
.bowl{
    position: relative;
    margin-top: 310px;
    margin-left: 330px;
    max-width: 1500px;
    max-height: 1500px;
    flex-direction: column;
    float: right;
    overflow: hidden;

}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-row: 0px;
    align-items: normal;
}

.grid img {
    border-color: pink;
    padding: 15px;
    max-width: 60%;
    margin-top: 8px;
    margin-left: 20px;
}