html {
    background-color: #FFFFFF;
    margin: 20px;
  }

.continents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#header {
    padding: 3px;
    margin-left: 2%;
    margin-top: 15px;
    color: #669966;
    text-align: center;
}

#asia {
    height: 50vh;
    width: 50vh;
}

#europe {
    height: 50vh;
    width: 50vh;
}

#namerica {
    height: 50vh;
    width: 50vh;
}

#samerica {
    height: 50vh;
    width: 50vh;
}

#australia {
    height: 50vh;
    width: 50vh;
}

#antactica {
    height: 50vh;
    width: 50vh;
}

#africa {
    height: 50vh;
    width: 50vh;
}

.continents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    margin-left: 2%;
    margin-top: 15px;
    color: #000000;
    text-align: center;
    justify-content: space-around;
  }
