html {
    background-color: #FFFFFF;
    margin: 20px;
  }

.continents {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    max-width: 1300px;
    background-color: olivedrab;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 100px, 50px;
}

.main-column {
    flex: 1;
}

.second-column {
    flex: 1;
}
.header {
    padding: 3px;
    margin-left: 2%;
    margin-top: 15px;
    color: #669966;
    text-align: center;
}

